[2019-04-23 10:18] mwouts opened #1 "Improve the rendering of tables with many columns"
Issues in version 0.1.0:
- Column width is not automatically adjusted for the header / column content
- Explicit column width does not always work
- ScrollX is not automatically activated on tables with many columns

[2019-04-23 10:19] mwouts commented on #1
I have asked the corresponding question at https://datatables.net/forums/discussion/56003

[2019-04-23 15:59] mwouts opened #2 "Render an extract of super large tables"
It would be more user friendly to render a fraction of large tables rather than issuing an error message. Can we find a way to display, like `pandas`, the total count of rows and columns ?

[2019-04-24 20:08] mwouts opened #3 "Fix itables on Jupyter Lab"
In Jupyter lab, importing `itables` yields an error: _Javascript Error: require is not defined_.

[2019-04-24 20:09] mwouts opened #4 "Fix itables on nteract"
Opening the README.ipynb in nteract yields a JS error: _TypeError: require.config is not a function_.

[2019-04-24 20:30] mwouts commented on #3
Apparently we'll have to create a widget for using itables in Jupyter Lab. An example on how to develop a new widget is available at https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20Custom.html (the example only works in the classical notebook).

[2019-06-03 06:02] orcahmlee opened #5 "Column width were not right and strings were overlapping"
Thank you for working on this package.

I could successfully render the breast_cancer data frame on jupyter notebook and I could successfully convert data tables to static html.

However, after convert to static html, the column width were not right and the column names were overlapping to each other.

Here are my print screens.
![Screen Shot 2019-06-03 at 13 47 50](https://user-images.githubuserc

[2019-06-03 20:40] mwouts commented on #5
Hello @orcahmlee , thanks for reporting this - this is an interesting testing case.
To some extend, this is related to #1 (with the difference that you see the issue only in the HTML file).

At the moment I do not think I will be able to work on this soon. Still I would be interested to hear why you would prefer to use itables/datatables rather than a more mainstream library like `gqrid`, `beakerx

[2019-06-04 15:32] orcahmlee commented on #5
@mwouts well, I would like to convert my jupyter notebook to HTML as a report which likes RMarkdown does. I've tried using `qgrid` but it's still couldn't get interactive datatables after `nbconvert`. Meanwhile I've tried the other new package `jupyter-datatables`, I got the same result(https://github.com/CermakM/jupyter-datatables/issues/6).

[2019-06-04 17:12] mwouts commented on #5
Interesting! Sure, while having a look at these tables I also found that HTML export was often an issue.

Most of the implementations (not mine) use widgets, so you should make sure that you save the widget state. But I think you do that already, seeing your screenshots. So it might be that `qgrid` uses a _server side mode_, i.e. serves the data from the Python kernel, and does not store the table

[2019-06-05 01:30] orcahmlee commented on #5
WOW, thanks for your kindly explanation, I've been wondering this issues for a while(because I am a rookie programmer and haven't studied in computer science).

While I surveyed, some of solutions that  suggest me using [binder](https://mybinder.org/) to render the jupyter notebook. However, we have to show(or give) the report to our clients in some scenarios. It's difficult to teach(or require) t

[2019-08-27 00:59] neon-ninja opened #6 "Refreshing the page breaks itables"
Steps to reproduce:

Open https://mybinder.org/v2/gh/mwouts/itables/master?filepath=README.md
Run the first cell
Refresh the page
Re-run the first cell

[2019-10-05 13:46] mwouts commented on #6
Oh thanks @neon-ninja for reporting this. That's interesting. I'll have a look and see what I can do.

[2019-10-16 19:51] jinchenhougit commented on #5
Hi Marc,

Thank you for replying my email! I noticed that I have the exactly the same issue with @orcahmlee.

Wondering if any updates on this issue?

[2019-10-16 21:57] mwouts commented on #5
Oh, interesting!

Not yet, but I'll try to give it a look soon. I'll keep you posted.

[2019-11-05 06:19] mwouts commented on #5
Hello @orcahmlee , @jinchenhougit , it seems that using a fixed width in `columnDefs` can solve this issue.

You can use it locally:
[code]

[code]

or globally
[code]

![image](https://user-images.githubusercontent.com/29915202/68183319-5eaeb600-ff9c-11e9-9826-8230bbfea15b.png)

See also the second column width example in the [README](https://mwouts.github.io/itables/#Column-width).

[2019-11-20 11:25] mwouts opened #8 "ITables should work offline"

[2019-11-20 11:26] #2 closed

[2019-11-20 11:26] #5 closed

[2019-11-20 11:26] #1 closed

[2019-11-21 16:35] mwouts opened #10 "Implement table captions"
See https://datatables.net/blog/2014-11-07 and https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption

[2019-11-21 22:11] CermakM opened #11 "Reinventing the wheel: jupyter-datatables package"
Hello there,

I like that there is a demand for this feature and that I am not the only one who sees that :). However, the functionality is really being duplicated here, which is perhaps shame and unnecessary reinventing of the wheel. Also, it is a great display of my failure in marketing the package properly :)

Feel free to check out the existing [Jupyter DataTables](https://github.com/CermakM/j

[2019-11-22 13:10] mwouts commented on #11
Hello @CermakM , I'm glad to see you here! Let me also mention that from the beginning your work on jupyter-datables ranked high in the project [references](https://github.com/mwouts/itables#references).

Maybe I should tell you a bit more about the purpose of this project. I'd love to be able to use a robust table component for both Jupyter and Dash (and possibly also PyCharm/VScode). I think tha

[2019-11-22 14:04] CermakM commented on #11
Hey @mwouts !

Thanks! :)

Let's put our heads together :).

I totally get your idea. In fact, I share that ideology and I wrote Jupyter DataTables with that in mind as well (see further). Having a single environment-agnostic component that could be used to display the data would be wicked! :)

However, from what I've seen, you've been experimenting and investing your time in Jupyter Notebooks at

[2019-11-22 14:55] maartenbreddels commented on #11
Thanks for pushing on this @mwouts!

I don't have time now to go into this deeply, but something to be aware of is that this is also possible with vuetify / ipyvuetify:

https://mybinder.org/v2/gh/mariobuikhuizen/ipyvuetify/master?filepath=examples%2FExamples%20template.ipynb

And we've used that in glue-jupyter to make a very custom table:
https://github.com/glue-viz/glue-jupyter/pull/129

Which

[2019-11-22 16:35] CermakM commented on #11
That is actually pretty neat! Thanks for the pointer @maartenbreddels

[2019-11-23 09:13] mwouts commented on #11
Hello @CermakM , @maartenbreddels , thanks for your inputs!

I liked the idea behind the jupyter-require package, and also your readme there, that's very interesting, and the d3 example is fun! But maybe that is still in an early stage, and probably I would prefer to adopt a technology that has the potential to deliver the table to any of Jupyter Notebook, Lab, Jupyter NBconvert, and Dash. Plotly

[2019-11-25 21:23] neon-ninja commented on #11
Personally, I chose to use itables over jupyter-datatables for the Advanced cell formatting / HTML in cells features. See https://uoa-eresearch.github.io/twitter_analysis/plot.html for an example of how I used these.

[2019-11-25 21:52] mwouts commented on #11
Oh that's interesting! Thank you @neon-ninja for the link. May I ask if you had any previous experience with _datatables.net_? Was it easy to find that in the documentation?

[2019-11-26 02:39] neon-ninja commented on #11
Yes, I used it directly for a leaflet js project a few years ago. Yes, your example / links were very helpful :)

[2019-11-27 10:56] maartenbreddels commented on #11
The mybinder link: https://mybinder.org/v2/gh/mariobuikhuizen/ipyvuetify/master?filepath=examples%2FExamples%20template.ipynb

Personally I think Vue is a really good framework for people that don't want to do heavy frontend development like React, but aren't afraid of a little bit of html-like syntax, and sprinkle a bit of JS in the mix.

Embracing Vue, Vuetify seem like one of the best component

[2019-11-27 21:29] mwouts commented on #11
Awesome! I love what you show there. When time permits I'll see if I can draft a version of `itables` based on `ipyvuetify`!

[2020-09-02 00:28] SailingHe opened #12 "itable didn't work in jupyter"
I installed itables(0.2.1),it successedly inbstalled and I insert  import itables.interactive ;
However,it didn't work,the dataframe didn't display.
The dataframe had data,when I use print or display(from ipython),the dataframe displayed;
I didn't know what's the matter.

[2020-09-02 08:11] mwouts commented on #12
Hi @SailingHe , do we agree that `itables` only work in Jupyter Notebook (not Lab) ?

If so, could you please
1. confirm that `itables` on [mybinder](https://mybinder.org/v2/gh/mwouts/itables/master?filepath=README.md) works for you
2. share the version of Jupyter Notebook that you are using
3. show us your browser logs - is there any error message there?

[2020-09-06 00:45] SailingHe commented on #12
I used it in jupyter notebook and the version is 5.7.8;
I don't understand the first reply(the binder?)
I guess the problem lies in the binder.The binder depend on package jupyter_contrib_nbextensions?
I used jupyter notebook in an environment without internet ,when I tried to install the  jupyter_contrib_nbextensions from Compressed file(zip), An error occurred: No such file in C:\\users\\user_na

[2020-09-06 16:56] mwouts commented on #12
My link above (mybinder) provides a notebook in which you can test `itables`.

Oh I see! That explains the problem: `itables` is based on `datatables.net` and requires an internet connection to download that library, every time you open a notebook.

[2020-09-07 13:35] fcollonval commented on #3
A small fix for JupyterLab.

Cell to add at the beginning of the notebook in JupyterLab
[code]

[2020-09-09 02:29] SailingHe commented on #12
could I download datatables.net to my computer which without internet?

[2020-09-09 02:30] SailingHe commented on #12
could I download datatables.net to my computer which without internet?

[2020-09-12 21:38] mwouts commented on #3
Thank you @fcollonval for the code snippet, much appreciated!

[2020-09-20 03:35] SailingHe opened #13 "Fixed first column"
Could itable fixed first column or fixed specify multiple columns?

[2020-09-23 20:07] mwouts commented on #13
Hi @SailingHe , I think so.

Could you give a try to this: https://github.com/mwouts/itables#column-width ?
Also we did discuss the subject earlier in another issue, see [this comment](https://github.com/mwouts/itables/issues/5#issuecomment-549679169). Does it work for you?

[2020-09-30 01:41] artdgn opened #14 "Using pandas `display.max_columns` breaks itables"
When pandas option `display.max_columns` is set to None, trying to use `show()` results in:

```TypeError: '>' not supported between instances of 'int' and 'NoneType'```

It seems to be because of [this line](https://github.com/mwouts/itables/blob/2617bed0829ae8b52ea4543cbddcfc77a0ac663a/itables/javascript.py#L75) and then later using that `None` in [this line](https://github.com/mwouts/itables/bl

[2020-10-01 07:49] mwouts commented on #14
Hi @artdgn , thank you for reporting this.
Indeed it has been a long time since we made the last release.
But I'll be happy to make a new one !
So please proceed if you wish to make a PR.

[2020-10-01 12:21] #14 closed

[2020-10-09 03:01] GZR5876 opened #17 "It only works on a brand new notebook"
When I test following codes on a new created jupyternote book, it works. however, once the note book is saved and reopen again, it no longer works. (the df table not shown, only the column headers are displayed).

Tried clear browser cache, restart kernal, restart pc, cant solve the problem. Any one has any idea on this?

Test code:
import itables.interactive
import world_bank_data as wb

df = wb.

[2020-11-02 02:33] neon-ninja commented on #17
this sounds a bit like #6

[2020-11-04 22:46] mwouts commented on #17
Thanks @GZR5876 for reporting this. Yes I agree, this sounds like #6. I think this is because the inclusion of the javascript code in the notebook is done very simply, possibly too simply... at least it works with nbconvert, which was not the case of widgets when I gave the first try at this projet.

Anyway, if we want to make some progress on this, maybe we should find what the javascript error i

[2020-11-15 11:43] mwouts commented on #17
Hi @neon-ninja , @GZR5876 , I think I understood the issue.

When the user imports `itables`, often in the first cell, an _invisible_ output is displayed, which loads the datatables.net library.
If the user either
- reloads the notebook (without having saved that cell)
- or reexecutes that cell

then that invisible output is not there any more, and the calls to datatables.net fail.

I can think of

[2020-12-14 19:19] jinchen-hou opened #21 "How to show tables in html?"
Hi,

Thank you for this project!
I encountered 2 problems while using itables.
1. How can I remove the red warning messages?
[code]
2. The table did not show when I download jupyter notebook as html, how should I solve that problem?

[2020-12-14 21:48] mwouts commented on #21
Hi @jinchen-hou ,
Thanks for reporting this!

Well, you could set `maxBytes` to zero, either as an argument to the `show` function, or globally on the itables options, see https://mwouts.github.io/itables/#downsampling
But maybe you are looking for a way to keep the downsampling and just don't issue the warning?

Oh that is indeed a problem! Apparently the HTML file misses the jQuery library. Than

[2020-12-22 22:02] mwouts commented on #21
Hi @jinchen-hou , I was able to fix the issue of the HTML export by downgrading `nbconvert` to version 5.5. Apparently, when the HTML export is done with `nbconvert==6.0.x`, the resulting HTML file misses jQuery. Can you confirm whether this fixes the issue for you as well?

[2020-12-22 22:04] mwouts commented on #17
This should be fixed now in `itables>=0.3.0`. Please note that the initialization now works a bit differently - to display all the tables interactively, you should start your notebook with
[code]

[2020-12-22 22:04] #17 closed

[2020-12-22 22:07] mwouts commented on #6
The Binder example now works with `itables>=0.3.0` - sorry it took so long to fix that!

Please note that the initialization now works a bit differently - to display all the tables interactively, you should start your notebook with
[code]
(anyway, if you use the previous import, a warning will remind you of the correct initialization)

[2020-12-22 22:07] #6 closed

[2020-12-22 22:51] jinchen-hou commented on #21
Hi @mwouts,

Thank you so much for answering my questions and looking into that issue!
Not sure if I am doing this correctly, but I just downgraded my nbconvert to 5.5 and then used nbconvert to convert my ipynb to html. However it still shows the same as above image -- only column names displayed.

The table I tried has more than 10 columns, would that be the reason why? Please let me know if I m

[2020-12-23 08:16] mwouts commented on #21
Hi @jinchen-hou , you're welcome, well you know I am also grateful to you for reporting this!
I don't think the issue is related to the number of columns - it is more a matter of having, or not, the datatables.net library in the HTML file.
As the next steps, I'd recommend to
1. Double check that you do have the latest version of `itables` (version 0.3.0) and make sure that `nbconvert` is in versio

[2021-01-23 15:05] jatin-sandhuria opened #22 "Center Align Table"
How do I center align the header and the rows within the table ? I have tried many things but nothing seems to be working.

[2021-02-04 23:04] mwouts commented on #22
Hi I'll add one example to the README:

[code]

[code]

[2021-02-04 23:13] #22 closed

[2021-02-24 03:21] CavemanWork opened #24 "How to wrap content in the cell ?"
Version:
itables==0.3.0

Code:
[code]

Issue:
If the text lenght larger than threshold if found that the tail will cutdown.
how to show the full centent in the cell without wrap?

[2021-05-14 10:05] mattwatkinscs commented on #17
I appear to be having the exact same issue, this originally worked, but having restarted the kernel, the outputs are all blank. I'm using itables==0.3.0 and JupyterHub. I have the following 3 blocks in a fresh notebook and it works fine, yet in an existing notebook even after a kernel restart, there is no output as described above.

[code]
Existing notebook with no output even after restart:
![Scr

[2021-05-19 11:29] mwouts commented on #17
Hi @mattwatkinscs , thank you for your input. May I ask what is the outcome if a) you restart the kernel and b) you reload the notebook (Ctrl+R)? Thanks!

[2021-06-17 06:44] CavemanWork commented on #24
Any update ?

[2021-06-21 10:25] brianminsk opened #25 "Is there a way to specify which column is initially sorted ..."
... for example, if I want the table to initially appear reverse sorted on the 2nd column?

[2021-06-22 19:16] mwouts commented on #24
Hi @CavemanWork , well below are some experiments, please let me know if any of them is close to what you want to do...

If we do
[code]
the cell content is wrapped
![image](https://user-images.githubusercontent.com/29915202/122985468-85527800-d39e-11eb-89be-8997ed743b52.png)

Now if we do
[code]
then it appears truncated:
![image](https://user-images.githubusercontent.com/29915202/122985627-b3d05

[2021-06-22 19:23] mwouts commented on #25
Hi @brianminsk , well the [`order`](https://datatables.net/reference/option/order) argument from `datatable.net` seems to work nicely:

![image](https://user-images.githubusercontent.com/29915202/122986602-efb7e800-d39f-11eb-9a7d-2557808b2bb7.png)

[2021-06-23 11:26] brianminsk commented on #25
Great, thank you very much. I'm new to iTables and didn't understand that I could use DataTables options.

[2021-06-23 11:26] #25 closed

[2021-06-23 11:54] mwouts commented on #25
You're welcome! Thanks for asking BTW - I'm sure that having this issue documented will help someone else!

[2021-06-30 21:47] caleblutru commented on #17
I have the exact same issue. For me it is both a and b. It only works again if I shut down the kernel, close the tab for the notebook and reopen the notebook again in a new tab.

[2021-08-15 13:10] ofir-reich opened #26 "itable doesn't work on Colab"
Just prints out an empty table. Is this a known issue?
I'm using Google Colaboratory with a local runtime, i.e. running my own Jupyter backend, not hosted by Google.

[2021-08-19 17:16] mwouts commented on #26
Hello @ofir-reich , well sorry indeed `itables` imports a javascript library (datatables.net) and this is known to work only in Jupyter notebook.

Still, there might be a chance that the workaround for JupyterLab also works for Colab. Would you like to give a try to [this code snippet](https://github.com/mwouts/itables/issues/3#issuecomment-688330386) and report whether it works or not? Thanks

[2021-08-22 07:33] ofir-reich commented on #26
Thanks for the quick response!
I tried and unfortunately that code snippet doesn't work. I'm still getting an empty table printed out - with only the column names (as before).

[2021-08-26 13:32] etienne-monier opened #27 "rending bug on Jupyter lab: the table is empty"
Hi,

## Problem

I'm testing a minimal example on Jupyter Lab (I integrated [issue #3](https://github.com/mwouts/itables/issues/3) patch). The table is non-empty and printing it with pandas is ok, but using itable makes it be rendered as empty.

## MWE

[code]

The result:
![itables_bug](https://user-images.githubusercontent.com/32652388/130971606-0b772458-b755-4946-a9c1-58bad68c5eab.png)

## My p

[2021-09-03 12:14] jkochel commented on #3
the snipped stopped working unfortunately, I am getting a following error an empty table and a following error in the console:
<img width="540" alt="Screenshot 2021-09-03 at 14 14 02" src="https://user-images.githubusercontent.com/31110713/132003491-4671ea92-f713-41bf-8dab-dea83c4f3503.png">

[2021-09-26 19:24] yotammarton opened #28 "Long column names overlay"
![image](https://user-images.githubusercontent.com/43007010/134821375-f700cb37-b178-425e-aba9-085f8c91cfd6.png)

Columns names should either show "aaa..." with option to hover or either be in the minimum width of the column name.

Thanks for this package :)

[2021-10-10 16:11] johann-petrak opened #29 "Does not work for me"
Shows only the header line for a dataframe.

Using itables 0.3.0 in a jupyter notebook

[code]

[2021-11-05 03:58] Lance628 commented on #28
Any update? I am also facing this problem

[2021-11-18 10:49] schwabts opened #30 "Unable to display unsorted dataframe"
Loading matrix data into a dataframe it automatically gets sorted when using itables.
Of course, I'd use `numpy` when really working with matrices but I have already come across some (unsorted?) tables that were sorted by exotic [orders](https://wiki2.org/en/Ordered_set) for good reasons. (After all, every table is sorted even if the order is not obvious.)

It must be possible to turn the feature

[2021-11-18 10:57] schwabts commented on #29
Using itables was not straighforward for me either. In the end it was helpful to follow

[https://mwouts.github.io/itables/](https://mwouts.github.io/itables/)

which  - for getting started - comes down to
[code]

[2021-11-18 14:15] schwabts commented on #30
To be closed if someone could explain this **funny solution**:

**Code:**

[code]

**Result:**

<html>
<body>

0 | 1 | 2 | 3 | 4
-- | -- | -- | -- | --
  | 0.2 | 0.1 | 0.9 | 2.1
  | 5.1 | 1.2 | 2.3 | 4.3
  | 2.1 | 4.3 | 0.8 | 1.0
  | 0.9 | 2.3 | 3.4 | 0.8

</body>
</html>

[2021-12-22 15:27] axel-loewe opened #32 "Conversion to HTML shows only header line"
When running `jupyter nbconvert --to html test.ipynb`

to convert the example script from the website (see below), the resulting html page only shows the header of table but no contents.
When inspecting the HTML code, the header is in plain HTML while the data are in a JavaScript. However, they don't show in any of the browsers I've tried. Am I missing anything?

[code]

[2021-12-22 17:59] mwouts commented on #32
Hello @axel-loewe , thanks for reporting this.

We have seen something similar at https://github.com/mwouts/itables/issues/21, see also this extract of `environment.yml`:
https://github.com/mwouts/itables/blob/ab39dae769d2165ef5a837e8d2ca74a24ab969ef/environment.yml#L9-L11

Can you quote the version of `nbconvert` that you use? Does it work better with `nbconvert==5.5`? Thanks

[2021-12-22 19:09] axel-loewe commented on #32
Thanks, that solved it!

[2021-12-22 19:09] #32 closed

[2021-12-22 19:18] mwouts commented on #32
Ok great thanks for the confirmation! I'll see if I can find a better solution, and if not I'll add this to the documentation.

[2021-12-22 21:27] mwouts commented on #27
Well, I think I am going to address this issue with the PR #33 . Feel free to comment or reopen if the fix does not work for you. Thanks

[2021-12-22 21:27] #27 closed

[2021-12-22 21:32] mwouts commented on #12
Closing this as a duplicate of #8

[2021-12-22 21:32] #12 closed

[2021-12-22 21:32] #13 closed

[2021-12-24 12:50] #21 closed

[2021-12-24 15:33] mwouts commented on #30
Thanks @schwabts for the question, sorry I did not answer earlier.

The answer found at https://stackoverflow.com/questions/4964388/is-there-a-way-to-disable-initial-sorting-for-jquery-datatables seems to apply here as well. You just need to pass `order = []` to the datatables library.

One way to do this is by using `show`
[code]

and the other way is to use a global option:
[code]

See the scree

[2021-12-24 15:57] #30 closed

[2021-12-24 16:50] mwouts commented on #3
I have added a mention of the workaround in the README. From the version 0.3.1 on, `jquery` is loaded by `itables`, so the workaround can be reduced to this:
[code]

@jkochel , I have also changed the way we use jquery. May I ask you to give a try to the new version 0.3.1 and report if the problem that you had in September with version 0.3.0 is still present? Thanks

[2021-12-30 07:41] mwouts opened #39 "Should we use iframes to display tables in a notebook?"
I'd like to study the option to display datatables in a notebook using simple iframes as suggested in [this comment](https://github.com/mwouts/itables/pull/33#issuecomment-1000146879):

[code]

where the content of `iframe.html` is:
[code]

![image](https://user-images.githubusercontent.com/29915202/147730400-743901b1-442f-4224-a4e3-50721edf33ac.png)

What I like in this approach is
- It works in

[2021-12-30 08:01] fcollonval commented on #39
pinging @krassowski that wrote the piece of code I referenced for using iframe with d3.js.

[2021-12-31 12:08] mwouts opened #40 "Is it possible to load datatables.net without using require?"
The `require` library is not available in JupyterLab, thus I'd like to remove this dependency (see also #3 and #39).

@fwouts suggested that we could load jQuery and DataTables.net using the new `import` keyword in Javascript and contributed the example below:
[code]

This seems to work pretty well:
![image](https://user-images.githubusercontent.com/29915202/147822519-3f52b97e-ef50-4f9b-b99c-f5028

[2022-01-02 20:52] mwouts commented on #40
A first implementation of the above is available at https://github.com/mwouts/itables/pull/41/commits/d83b6abe9b4aeafc10b3e440ae351bd2dd15d135, however it only works in Jupyter Lab (and not always, for instance when the notebook is reloaded the tables are not shown).

The problems seems to be that the `initDataTables` function is not working properly when `requirejs` is loaded, for instance in the

[2022-01-06 18:05] #3 closed

[2022-01-06 20:56] mwouts commented on #3
This has been solved in `itables==0.4.0` (to be released soon)

[2022-01-06 20:57] mwouts commented on #40
As a workaround for the problem reported above, we will use `import` only when `require.js` is not available, cf #43

[2022-01-06 20:57] #40 closed

[2022-01-06 21:02] mwouts commented on #39
In version 0.4.0 the code will be much cleaner, and apparently we don't need to use iframes for that. Now every HTML output will be constructed from [a rather simple template](https://github.com/mwouts/itables/blob/99fe09870661ddde2c449ab01999fc30cc17214c/itables/datatables_template.html).

We still use `require.js` when available but that is only as a workaround, as the ES import of `datatables.n

[2022-01-06 21:02] #39 closed

[2022-01-06 21:04] mwouts commented on #26
The current development version of `itables==0.4.0-dev` does work now on Colab, following #43:
![image](https://user-images.githubusercontent.com/29915202/148451755-6bf635ce-769a-4686-a235-28fd7151e4f3.png)

[2022-01-06 21:04] #26 closed

[2022-01-06 21:05] mwouts commented on #4
Solved in version 0.4.0-dev thanks to #43 :
![image](https://user-images.githubusercontent.com/29915202/148451873-68f74187-f6f1-4139-8647-6a9f8619499f.png)

[2022-01-06 21:05] #4 closed

[2022-01-06 21:17] mwouts commented on #29
Well, I think there are significant chances that version 0.4.0 (to be released soon) will work better. If not, would you mind opening a new issue? I'll also need to see the browser logs. Thanks

[2022-01-06 21:17] #29 closed

[2022-01-06 21:18] #24 closed

[2022-01-06 22:48] #28 closed

[2022-01-06 22:56] mwouts commented on #28
Hi, sorry it took me a long time to address this issue. Anyway, it turned to be an easy one: I just had to change the style for `table th`, see the PR above.

This is fixed in `itables==0.4.1`, cf [this notebook](https://github.com/mwouts/itables/blob/main/tests/test_long_column_names.md) that you can try directly on [binder](https://mybinder.org/v2/gh/mwouts/itables/main?urlpath=lab/tree/tests/te

[2022-01-06 22:57] #11 closed

[2022-01-10 02:25] housezipmex opened #48 "FileNotFoundError: require_config.js"
Hi
This is the first time I tried to use itables on Jypyter.
Got this error
`FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\username\\Anaconda3\\lib\\site-packages\\itables\\require_config.js'`
version 0.4.3

[2022-01-10 07:13] #48 closed

[2022-01-10 07:13] mwouts commented on #48
Damned! You're right, I forgot to update `setup.py`. This will be fixed in `itables==0.4.4`.

[2022-01-10 07:15] mwouts commented on #48
The new version is [being published](https://github.com/mwouts/itables/actions/runs/1676230132) on pip, thank you so much for reporting this!

[2022-01-10 07:15] housezipmex commented on #48
Thank you

[2022-01-10 07:17] mwouts opened #50 "Add support for the datatables.net extensions like e.g. "buttons""
Can we add support for some extensions like buttons? See #18 for a first attempt.

[2022-01-10 07:21] mwouts opened #51 "Load datatables.net using ESM in all cases"
In version 0.4.x we load datatables.net using a mix of `require.js` (Jupyter Notebook, NBconvert) and ESM (Jupyter Lab and others).

When datatables.net becomes [ready for this](https://datatables.net/forums/discussion/69066/esm-es6-module-support), we should be using ESM in all cases.

[2022-01-11 23:25] jklap opened #52 "Support passing custom dt_args into DataTable()"
Currently it's hardcoded to only pass in "data" but would be create if that could be customized in some way

[2022-01-11 23:45] mwouts commented on #52
Hi @jklap , well in the [template](https://github.com/mwouts/itables/blob/main/itables/datatables_template.html) the  `dt_args` are empty, but that is just a template. In practice we replace that with the arguments passed by the user:
https://github.com/mwouts/itables/blob/6a194090c010fcae44e184da06866cad665513a4/itables/javascript.py#L188-L190

That means that you can pass to the `show` function,

[2022-01-12 23:15] jklap commented on #52
Yep-- that looks great. Didn't realize the second arg passed to `show()` was passing directly to `DataTable()`. Thanks!

[2022-01-12 23:15] #52 closed

[2022-01-13 17:24] mwouts commented on #52
Thanks @jklap . Also feel free to open a PR if you think we can state this more clearly in the README.

[2022-01-17 22:32] matrs opened #53 "[Question] Use regular expressions in the search box"
Hello,
thanks for this library, it's been really useful.

I'm looking to use regular expressions as input for the search box. There is an example [here](https://datatables.net/examples/api/regex.html), where you mark the regex box and the search box works as expected.  Is it possible to add that function to my code?  I really don't know how to go about it and any help/example is appreciated (I don

[2022-01-17 23:19] mwouts commented on #53
Hi @matrs , well I am afraid it is going to be difficult to port either
- the example from the [`regex`](https://datatables.net/examples/api/regex.html) api
- or the example from the [`search`](https://datatables.net/reference/api/search()) api

as they both involve additional HTML fields (i.e. the search filter is not taken from the search box of the table), and also require additional javascript

[2022-01-18 13:28] djangoliv opened #54 "Notebook extension to enable itables interactive mode"
it might be nice to have a button to enable interactive mode.

A simple example of code for that:

[code]

Regards

[2022-01-18 15:59] matrs commented on #53
Hi @mwouts , thank you for your prompt answer. The option `search={"regex": True}` is what I was looking for and until now it has worked as expected (I was specially interested in `|` ).

About the "end of word" pattern, without disabling the smart search, it works: `wound\b` returns only wound, but `wound` returns `wounding` too. Maybe you are referring to something else?

[2022-01-18 17:54] mwouts commented on #53
Oh great! I'll add the example to the README, then.

Yes, I wanted to use the `^` or `$` boundaries, but my attempts were unsuccessful (all I got was an empty table when I was expecting a match). Let me know if they work for you!

[2022-01-18 18:00] mwouts commented on #54
Hi @djangoliv , thank you for the suggestion and for the code snippet. Yes indeed I do like the idea to have something like an on/off toggle, that sounds great.

On the way towards such an extension I see two points that we should discuss:
- Do we want to bundle the extension with the Python package, or not? If I am correct the extension should be installed only in the Jupyter environment, while t

[2022-01-18 19:48] matrs commented on #53
I see. With `$` and `^` I'm getting the same result as you, empty tables.

[2022-01-18 19:48] #53 closed

[2022-01-19 08:20] djangoliv commented on #54
Hello @mwouts

You're right, it may be better to make two separate repository (a jupyterlab-itables project).

Indeed, the output is not displayed and the init_notebook_mode code will not be present in the HTML export.

Personally it doesn't bother me. Since the code just replaces the table visualization.
The exported code will remain consistent and display the tables in a classic way.

Otherwise,

[2022-01-19 21:44] mwouts commented on #54
Hello @djangoliv , I have created a draft extension at https://github.com/mwouts/jupyterlab-itables

However when I try to install it with
[code]
then I run into this error:
[code]

Do you think you can iterate on top of my draft?
Thanks!

<details>
 <summary>(full logs)</summary>
/home/marc/GitHub/jupyterlab-itables/setup.py:65: DeprecatedWarning: create_cmdclass is deprecated as of 0.8 and will

[2022-01-19 23:25] mwouts opened #55 "Should we offer support for Ag-Grid?"
[Ag-Grid](https://www.ag-grid.com/javascript-data-grid/getting-started/) is a renowned JS table library.

It has a mixed community/enterprise licensing - see [here](https://www.ag-grid.com/angular-data-grid/licensing/) for a description of the features available in either version.

Is there any user interested in seeing support for ag-grid in this project?
(An experimental version is available in

[2022-01-20 11:08] djangoliv commented on #54
@mwouts See: https://github.com/mwouts/jupyterlab-itables/pull/1

[2022-01-20 16:07] matrs commented on #55
I recently used your library and I didn't have any previous experience with interactive tables in jupyter (o any other experience, I'm just learning JS). I saw `Ag-grid` during my search and also `ipyaggrid`, but I didn't try it because `itables` worked for me.  What I missed, with my very brief experience, is be able to build more advanced tables in jupyter. For example, place plots or define exp

[2022-01-21 14:44] mwouts commented on #55
Hi @matrs , thank you for your input, that is very interesting.

My main objective for `itables` is to allow the user to display pandas Dataframes as interactive objects and benefit from the search & ordering capacities of a dynamic table. Also I think that the default rendering (without any configuration) needs to be as good as default Pandas, so that users don't need to learn JS nor a specific t

[2022-01-22 00:41] mwouts opened #56 "Use Jupyter Book to build the ITables documentation"
We should split the README into multiple chapters of a Jupyter Book

TODO
- [x] Fix the table width and font
- [x] Fix the [issue](https://github.com/executablebooks/jupyter-book/issues/1610) with the sample dataframe notebook
- [x] Automatize the publication on GitHub pages

[2022-01-24 23:29] #56 closed

[2022-02-08 07:36] ofir-reich opened #59 "itables with Colab dark theme"
Thanks so much for the Colab support! Works great.

One issue I have is that in Colab dark theme (Tools -> Settings -> Theme: dark) the itable does not fully adapt. Its background remains gray but the text color inherits the (very similar) gray text color from the Colab theme, so the numbers are hard to see.
Additionally, the page buttons on the bottom only show up for real when you hover over the

[2022-02-09 18:13] mwouts commented on #59
Thank you @ofir-reich for this report.

Well I know very little of HTML/CSS, so if you don't mind I'll give a few pointers and maybe we will see what we can do with them?
- We import the default CSS for datatables.net at this line:
https://github.com/mwouts/itables/blob/f03c276e1b78209bb14f02a991a62bfc60a9c422/itables/datatables_template.html#L2
- I see that datatables has a theme creator at https

[2022-02-10 07:55] qrun opened #61 "Cell width fixed 41 characters"
If you have more than 41 character text in a cell,
the cells well not be adjusted to the longest text in the column or the text will not be displayed in two lines in the cell.
The cell will display the follwoing:
a123456789b123456789b123456789c123456789d...

Sample Values
a123456789b123456789b123456789c123456789d12,ZH,Africa Eastern and Southern,Aggregates,,Aggregates,Aggregates,,,

[2022-02-10 08:25] mwouts commented on #61
Thank you @qrun for reporting this.
Could you please share a code snippet that reproduces the problem (with a screenshot if possible)?

Also, have you tried setting a custom [column width](https://mwouts.github.io/itables/advanced_parameters.html?highlight=width#column-width), or a custom [class](https://mwouts.github.io/itables/advanced_parameters.html?highlight=width#table-and-cell-style) on the

[2022-03-11 19:22] gnilrets opened #62 "More control over truncation"
I found some really bizarre truncation behavior and I'm struggling with how to overcome it.  Here's the simplest reproducible example I could find:

[code]

The `signal_name` is being truncated:

![image](https://user-images.githubusercontent.com/2371577/157936655-c75b4404-4c1b-4ddd-b4ab-73dce75b4008.png)

If I change the last lower-case `l` to an upper-case `L`, it doesn't truncate the string!  O

[2022-03-20 13:32] vincent-grosbois opened #63 "Leveraging panda's to_html() function"
Hello
it seems that itable doesn't support displaying dataframes with multiindex, whereas [ datatables could support it ](https://datatables.net/examples/basic_init/complex_header.html).
This seems to come from the fact that `_make_header` function only works for non-multiindex columns.
However it seems that Pandas's dataframe to_html() function is able to correctly render multiindex columns, usin

[2022-03-20 21:24] mwouts commented on #63
Hi @vincent-grosbois , thank you for asking.

Well indeed datatables.net can easily render an HTML table - this is even their [zero configuration example](https://datatables.net/examples/basic_init/zero_configuration.html), so what you suggest could be an option.

I think I initially tried this (I mean, use pandas' to_html function) for `itables`, but then I decided to encode manually the table be

[2022-03-21 10:20] mwouts commented on #62
Hello @gnilrets , I am wondering if we could not just delete the current fixed width at 70 pixels. Could you please try the following?
[code]
and tell us whether the behavior without the fixed width correspond to what you're looking for?

NB: you could also edit your `itables/options.py` file and remove `columnsDefs` there, like in this [PR](https://github.com/mwouts/itables/pull/64/files).

I thi

[2022-03-21 10:21] mwouts commented on #61
Hello @qrun , I am wondering if we could not just delete the current fixed width at 70 pixels. Could you please try the following?
[code]
and tell us whether the behavior without the fixed width correspond to what you're looking for?

NB: you could also edit your `itables/options.py` file and remove `columnsDefs` there, like in this [PR](https://github.com/mwouts/itables/pull/64/files).

[2022-03-21 10:30] mwouts commented on #63
Until version 0.4.1, we were using `.to_html()` to generate the table header, cf. [this commit](https://github.com/mwouts/itables/commit/d9d4a8224c6ae6b05e4b22d11554bc14de0e5bb1#diff-4dfccbfcd6268643526f2adf41205a37768913776c49a7e724cee5bd668e8c52)

I don't advice to revert to version 0.4.1 because we fixed many other issues since then, but I'll see if I can improve the rendering of multiindex col

[2022-03-21 10:45] mwouts commented on #63
Hi @vincent-grosbois , could you please give a try to this development version, and confirm that it works fine for you?
[code]

Thanks

[2022-03-21 15:02] gnilrets commented on #62
Nope, that doesn't change the behavior.

[2022-03-24 05:25] qqdaiyu55 commented on #63
My implementation leveraging `to_html()`

[code]

[2022-03-25 08:12] Jonas231 opened #66 "Automatically adjust column width to length of strings in dataframe"
Hello,
thank you for providing this nice package.
I have the following issue:
I would like to display a table of a dataframe loaded from an excel table. The first 4 columns have strings which are rather short, while the 5th columns contains lengthier text. How can I adjust the columns' width individually or automatically in itables?
![grafik](https://user-images.githubusercontent.com/38330725/1600

[2022-03-25 09:27] Jonas231 commented on #66
Hi,
I found this solution which works for me:
![grafik](https://user-images.githubusercontent.com/38330725/160093376-4343396c-70cb-4d0b-9e12-f85126391f86.png)
Regards,
Jonas

[2022-03-27 08:15] mwouts commented on #66
Hi Jonas,

Thank you for your comments. Yes `datatables.net` let you adjust the column width individually.

Out of curiosity, what do you get if you remove overall the `width` in the `columnDefs`?

I am asking as I am thinking of removing the default value at 70 pixels, cf. #64, this seems to work for my use cases but I'd rather have a confirmation from other users before proceeding.

[2022-03-28 18:05] vincent-grosbois commented on #63
hi @mwouts  thanks ! to be honest I didn't expect an anwser / fix that fast :D I'll try to have a look but I'm pretty busy, I should be able to check it this week

[2022-03-28 20:17] mwouts commented on #63
@vincent-grosbois you're welcome.

Also, @qqdaiyu55 thanks for sharing the code snippet above, that is interesting!

I see that we have three distinct sub-issues in this thread
- the multiindex columns are not properly rendered => this should be solved by #65
- why not generating the table with `pandas.to_html` => as mentioned above, I think doing that results in a slower web page. Of course I cou

[2022-03-29 01:42] qqdaiyu55 commented on #63
@mwouts
Oh yeah, I tested it on JupyterLab/Notebook/Exported HTML, it works well.

[2022-03-29 15:58] mwouts commented on #66
I'll close this issue as I believe that the new behavior in `itables==0.4.6` (automatic column width by default) improves this use case.

Also the [documentation](https://mwouts.github.io/itables/advanced_parameters.html#column-width) has been updated to give an example of width adjustment for selected columns, as in your screenshot above.

[2022-03-29 16:02] mwouts commented on #62
Locally this is what I get with the upcoming version 0.4.6:

![image](https://user-images.githubusercontent.com/29915202/160655201-73385091-70a9-4d10-a95a-d416a8515d92.png)

I'll ship the new version soon, please test it and reopen if you still have an issue with the column width.

[2022-03-29 16:03] mwouts commented on #61
This should be solved in `itables==0.4.6` (please let me know if not)

[2022-03-29 16:03] #66 closed

[2022-03-29 16:03] #61 closed

[2022-03-29 16:12] mwouts commented on #63
I'll close this issue as we have addressed the rendering of the multi-index columns.

@vincent-grosbois feel free to open a new issue when you see another example for which you'd like to use `pandas.to_html`.

@qqdaiyu55 I'd like to reuse your example to allow the user to load datatable extensions, do you think you could help me do this at #67 ? Thanks

[2022-04-01 14:49] shewless opened #69 "request an easy way to enable individual column searching"
datatables has support for individual column searching:
https://datatables.net/examples/api/multi_filter.html

I'm not sure if it's possible with itables currently to add the appropriate html and javascript to make this happen.  It would be nice if it was an option (enable_column_search).

[2022-04-01 19:03] mwouts commented on #69
Hi @shewless , thank you for the link, that is interesting!

Well I prefer to keep `itables` simple, and not add options that are not in `datatables.net`.

Still I'd be interested in seeing how we could translate the _multi filter_ example to `itables`. I'm not sure we can do this at the moment (what is missing are 1. the footer cells and 2. the ability to run additional JS code), but I'll keep th

[2022-04-01 19:07] shewless commented on #69
Thank you for the reply.  If it's not simple to add it may not be worth it.

[2022-04-01 19:11] mwouts commented on #69
I think allowing to do this kind of thing in `itables` is worth it... I've seen a few more cases for which we need additional JS code like here, so there is a point in doing so. I'll keep you updated (through this issue) when this becomes possible.

[2022-04-01 19:13] shewless commented on #69
Thank you. I'll keep an eye on this issue.

[2022-04-07 11:13] repied commented on #59
yes indeed

[2022-04-09 17:29] BBassi opened #70 "Offline mode"
At the moment itables does not have an [offline mode](https://github.com/mwouts/itables/issues/8). While the table data is embedded in the notebook, the jquery and datatables.net are loaded from a CDN, see [require.config](https://github.com/mwouts/itables/blob/main/itables/javascript/load_datatables_connected.js) and [table template](https://github.com/mwouts/itables/blob/main/itables/datatables_

[2022-04-13 12:54] #10 closed

[2022-04-13 16:05] mwouts commented on #70
Hi @BBassi , yes that is something that I would like to see supported in the future. Do you think you you could help us with this, I mean, do you think you could author a PR in that direction? Thanks

[2022-04-14 10:55] BBassi commented on #70
@mwouts We do not have the bandwidth to do this internally BUT am happy to pay someone do it

[2022-04-14 12:47] mwouts commented on #70
Oh that is very kind of you ! Let me invite @AllanJard in this issue. Allan is the founder of [SpryMedia](https://sprymedia.co.uk/), and the author of the (Javascript) datatables library.

Allan, would you like to be working on this question of allowing the offline use of datatables in the context of Jupyter Notebooks ? If so, would you like to propose a quote to @BBassi  ? I am happy to help with

[2022-04-15 15:37] AllanJard commented on #70
Hi :)

You'll need to forgive me, by I've not used a Jupyter Notebook yet (still on my list to fire up sometime!), so I'm not familar with how its offline mode works. Is there a package manager that installs packages for offline use or something? Are there other Javascript libraries (e.g. Bootstrap, jQuery, etc) that have an offline mode for Jupyter Notebooks?

[2022-04-15 16:02] mwouts commented on #70
Hi @AllanJard , well sure no problem. I'll try to give a few pointers and they we'll see if there is any direction that looks easier than others.

1. Until now I am loading datatables by displaying custom HTML code in a Python notebook. Displaying HTML or Javascript in a (Python) Jupyter notebook is quite easy, you just need to do e.g.
[code]
If you're never used a notebook before maybe you might

[2022-04-15 17:10] BBassi commented on #70
Just Jupyterlab

[2022-04-18 16:21] AllanJard commented on #70
Okay, so if I understand correctly, we'd need to package DataTables in a Python library? That would get installed on the notebook and can be referenced by the python package? Is it not possible to reference npm packages?

I guess another way of wording that is what is the end user installation of this? Presumably they aren't installing a python module, but rather a package that happens to contain

[2022-04-18 18:37] mwouts commented on #70
Hi @AllanJard , yes the fact that @BBassi wants this in Jupyter Lab only should allow us to provide the functionality through a "Jupyter Lab extension". Maybe we can do something like this: load datatables as a dependency of the jupyter lab extension, and detect in the notebook whether datatables is already available (in Jupyter Lab), or not (in other contexts).

I see this example Jupyter Lab ext

[2022-04-20 08:38] BBassi commented on #70
Done

[2022-04-20 13:33] AllanJard commented on #70
@BBassi Many thanks - I've just replied back.

I'm not actually clear on what is needed from a DataTables point of view here. @mwouts Are you looking for DataTables to be wrapped up as a Jupyter Lab extension? Or is it itables that needs to be wrapped up as an extension?

[2022-04-20 15:03] mwouts commented on #70
Awesome. Thank you both!

Allan, I think the next steps could be as follow:
1. I document how to create a Python environment with Jupyter Lab so that you can test displaying HTML code in a notebook, and especially [datatables_template.html](https://github.com/mwouts/itables/blob/main/itables/datatables_template.html) (cf. my earlier comment)
2. I do some research on what is the simplest 2022 way t

[2022-04-20 15:47] AllanJard commented on #70
Sounds good to me - let me know how you get on :-)

[2022-04-21 15:20] mwouts commented on #70
I plan to start working on 1. and 2. soon, maybe tonight.

For 2. I'll try to follow this [tutorial](https://jupyterlab.readthedocs.io/en/stable/extension/extension_tutorial.html).

Maybe Allan you can help me with TypeScript - what would be the syntax for importing `datatables` in TypeScript ? I mean, when the tutorial says
[code]
what should we write to import `datatables`?

[2022-04-21 17:14] mwouts commented on #70
@jptio, @fcollonval, the tutorial on Jupyter Lab extensions is great, but I am struggling to add the extension to the current `itables` project.

I moved parts of the `setup.py` generated by the cookie cutter to my root `setup.py` in [this branch](https://github.com/mwouts/itables/tree/offline_through_jlab_extension), but I am trying to keep the extension in the `labextension` folder.

The issue t

[2022-04-26 21:03] rikturr commented on #50
Hello! First, I'd like to say THANK YOU for making this package! I always loved using DT in R, and just today found `itables` and its worked like a charm out of the box. I'm going to share it with my whole data team this week.

I'm eager to see buttons supported as well, so just wanted to offer any help if you need it. I noticed #67 is very active so you may have it covered already. At least the w

[2022-05-01 19:43] mwouts commented on #70
Hi @AllanJard , I am trying again to build a very simple extension. For simplicity I have created another project at https://github.com/mwouts/jupyterlab-itables2 (and when it starts working I will merge it with the main `itables` project). For now my objective is to do something very simple just to check that the extension works, say I'd like to display every HTML table using datatables.net.

So

[2022-05-01 20:30] mwouts commented on #70
I may have found a syntactically correct fix at https://github.com/mwouts/jupyterlab-itables2/commit/fae71caf7eff8293bfae8627260eb1036e87a1ae.

Now the question is how I can use the `$` object and `.datatable` extension in the `datatables_template.html` file...

[2022-05-01 22:22] mwouts commented on #70
I see that [this extension](https://github.com/jupyter-server/jupyter_server_mathjax) provides the mathjax library in Jupyter Lab, it might be a good starting point

[2022-05-02 00:10] mwouts commented on #70
At some point I have been able to expose `jquery` and `datatables.net-dt` in Jupyter Lab with this tentative extension: https://github.com/mwouts/jupyterlab-itables3

With the extension enabled I have been able to load the libraries locally in Jupyter Lab with e.g.
[code]

I'll have to confirm that this really works (seems to be a slight issue at the moment), and also we will have to find out how

[2022-05-02 08:36] AllanJard commented on #70
Hi _ sorry I wasn't able to reply over the weekend. That looks good to me - statically including local files. I couldn't see the Javascript initialisation in the latest repo though, although I might just be clean missing it on a Monday morning!

[2022-05-02 09:44] mwouts commented on #70
Hi @AllanJard ,

Yes you're right the JS files are not included in the repo - it is only when the python package is build that they are included. I have a few questions about this by the way:
- At the moment the [copyAssets.py](https://github.com/mwouts/jupyterlab-itables3/blob/main/copyAssets.py) script copies the full folder under `node_modules` for both `jquery` and `datatables.net-dt`. Would y

[2022-05-03 08:57] AllanJard commented on #70
It would certainly be cleaner to do so, yes. The only thing I can think of that might be an issue is if you decide to use Bootstrap or something else in future, you'd just need to remember to copy those files across as well.

I can't speak officially for jQuery, but yes, that is absolutely fine. As long as the copyright notice at the top of the Javascript files is retained, which it will be with a

[2022-05-03 09:34] mwouts commented on #70
Hi Allan, thanks for the above. Then I'll package a first version of the extension (with just the static files) tonight or tomorrow.

The datatables template file is in this repository (itables). I am afraid I will have to keep the static files in another repo as they will have to be installed at a different location (static files on the jupyter server python environment , itables on the python en

[2022-05-03 23:34] mwouts commented on #70
Hi @AllanJard , I've tried to take a few more steps on this project...
- A pre-release candidate of the extension is available at https://pypi.org/project/jupyterlab-itables/ (at the moment I have not filtered the modules, the package is not big anyway, and also I have moved the files from `/static/itables-jupyterlab/` to `/static/itables/` to avoid references to Jupyter Lab in case we find in the

[2022-05-09 10:43] AllanJard commented on #70
Thanks! Given that the Javascript is just being run directly in the browser, and no bundler is being used, I wonder if you might be best just importing the static files in the same way as you do for the CSS files - e.g.:

[code]

It will then work immediately, since when included by a browser it will make itself available on the global `jQuery` object.

[2022-05-09 12:52] mwouts commented on #70
Well, I am afraid Javascript will always remain so mysterious for me...

As suggested, I have added `datatables.net` as a requirement to the Jupyter Lab extension at https://github.com/mwouts/jupyterlab-itables3/commit/356219e1b8c12ddb31377510b1f88d75c2a8d3ff and published `jupyterlab-itables 0.1.0b0` at https://pypi.org/project/jupyterlab-itables/#files (BTW I have kept `datatables.net-dt` as tha

[2022-05-09 17:20] mwouts commented on #50
Hi @rikturr , thank you for your kind and supportive message! Yes when we can add buttons to this package we'll reach a great milestone. As you saw at #67 that is still a work in progress - in that PR I am trying to adapt @qqdaiyu55's approach from [that comment](https://github.com/mwouts/itables/issues/63#issuecomment-1077185088) to make it more generic, but we're not done yet!

[2022-05-09 19:50] mwouts commented on #70
Part of the problem might be that the `jquery` and `datatables.net` libraries are injected in the middle of the HTML document rather than in the header... that might be an argument in favor of using local ES module imports - but for this I need help from an ESM expert!

Otherwise I am also aware of the [`addScript` approach](https://github.com/mwouts/itables/pull/67#issuecomment-1121378183) that d

[2022-05-10 17:13] mwouts commented on #70
I've spent long hours trying to make the `addScript` approach work (i.e. inject the script in the document header), I have had some success for loading the static files, but I find it too hard to cover the other cases (no static files, or require.js is present), and also I really think that there is way to much code just for loading the libraries (see this commit https://github.com/mwouts/itables/

[2022-05-11 10:10] AllanJard commented on #70
Hi - sorry this is taking so much of your time!

Unfortunately no - the esm file isn't included in the package. I'll get that in for the 1.12 release which is up coming. Since you have static files, you could just [grap the content from here](https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.mjs) though. That might be a good option to get a PoC while I get the 1.12 release ready. I should

[2022-05-11 11:52] mwouts commented on #70
Thank you @AllanJard. Oh that's great news that you already have an ES module at https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.mjs ! Sure no problem I can add the file to the static files (done at https://github.com/mwouts/jupyterlab-itables/commit/36ec441af467e55196702687687e6d90a1430ce8).

I'll give a try to the import approach, I think it has the potential to make the table templat

[2022-05-11 12:43] mwouts commented on #70
Well, we're not done yet...

At https://datatables.net/manual/installation#NPM the instructions to import datatables are
[code]
but in Jupyter Lab I don't have `require`.

So I tried this:
[code]
but then `$` and `initDataTables` are undefined...

@AllanJard would you have an example for importing `datatables.net` from an URL?

BTW I noticed that
[code]
or similar causes the following error:
[code

[2022-05-18 19:32] jainraje opened #75 ""Loading...", then maybe"
The guidance to solve this very weak and the "see our [require.config]" is broken. What am I suppose to do to resolve this??

thank-you!

[2022-05-18 21:09] mwouts commented on #75
Thank you for noticing the broken link! Indeed it should be https://github.com/mwouts/itables/blob/main/itables/require_config.js

Can you share more details of how you use `itables`? Are you using Jupyter Notebook, Jupyter Lab, or yet another editor ? In which version ? Is your notebook "Trusted" ? Do you have access to the internet ?

[2022-06-11 07:59] mwouts commented on #70
@AllanJard , do you have a minimal example that shows how to import the `jquery.dataTables.min.mjs` file? Please let me know when that is the case. Thanks!

[2022-06-13 14:42] AllanJard commented on #70
Oof - sorry about loosing track of this one. Try this:

[code]

(I've added the mime type handler for it now).

[2022-06-14 08:06] AllanJard commented on #70
This is how to do it:

[code]

http://live.datatables.net/yecukepe/1/edit

Live example.

It looks like the `.min.js` file we have isn't actually a valid module. The compressor we are using (an older version of closure compiler) doesn't have support for JS modules - hence the need to use the `jquery.dataTables.mjs` file in that example. I need to get that sorted out.

[2022-06-15 04:17] drnw commented on #75
I too get  `Loading... (need [help](https://mwouts.github.io/itables/troubleshooting.html)?)`. I use VS Code on Mac OS. In a session last week I somehow got past this. However, now rerunning my Jupyter Notebook itables is back to its bad behaviour :-(
<img width="411" alt="image" src="https://user-images.githubusercontent.com/24733582/173735437-c666113a-a573-4527-bfef-a4eb2c85267a.png">

Yes I am

[2022-06-15 04:34] drnw commented on #75
Inspecting the Jupyter extension in VS Code I noticed "Reload required".

<img width="618" alt="image" src="https://user-images.githubusercontent.com/24733582/173736976-1e207f31-4375-4f4c-9ef8-f8a1e24fcdc3.png">

After clicking the Reload button the itable magically appeared in my Notebook cell output. However, cells would no longer run and a restart of VS Code was needed to restore normal service

[2022-06-15 04:49] drnw commented on #75
Unfortunately the behaviour is intermittent. Some notebooks still have the `Loading...` issue. Reinstalling the Jupyter extension and restarting VS Code has some success but this is a real pain :-(

[2022-06-17 08:54] mwouts commented on #70
Thanks @AllanJard ! I've tested the code snippet just above and I can confirm that it works (BTW may I suggest you had a new section on this at https://datatables.net/manual/installation ?)

Now I need to find out how to replace the fixed urls with dynamic ones (either distant or local). My naive attempt below results in an error "$ is not a function", so I guess the problem is with the jQuery imp

[2022-06-17 08:59] AllanJard commented on #70
Thanks! As soon as I figure out how to load in the extensions and styling integration files with ES modules, then yes, it will go up there as fully supported. I've made no progress or found a way to do dependencies with ES modules in a way that would be suitable (like we discussing in the other thread). Until something for that becomes available, it would require a big long list of import statemen

[2022-06-17 09:06] mwouts commented on #70
@AllanJard , yes when I do
[code]
with `jQuery_url` as above, then the result is `undefined`.

If I interpolate with the current working version of `itables`, I see that we have `let jQuery_url = 'https://esm.sh/jquery@3.5.0';`, and this actually works!

Still I'd prefer to not use `esm.sh` if not necessary, I'll have a look at https://stackoverflow.com/questions/34338411/how-to-import-jquery-usin

[2022-06-17 09:21] mwouts commented on #70
Regarding your questions on how to load the extensions and styling with ES modules, I am afraid I can't help here, but maybe @fwouts will have a pointer for you?

The SO thread says
[code]
but if I replace the first line with `const { $, jQuery } = await import(jQuery_url);` then again I get `undefined` for `$`. Probably this is because in the context of the SO question `'jquery'` refers to an ES

[2022-06-17 09:39] fwouts commented on #70
@mwouts I think it should be:
[code]

[2022-06-17 13:22] mwouts commented on #70
I've spent some more time on this, here are a few findings:
- the jQuery team is working on a native ES version, cf. https://gist.github.com/mgol/af95c1358d4ca9f2d45db4f0c55a74a4. At the time being this seems to be available only on the main branch of https://github.com/jquery/jquery (which is in version 4.0.0-pre according to `package.json`). So I'll take this 4.0.0-pre version for our static sit

[2022-06-17 14:44] mwouts commented on #70
Hi again... good news, I think we're almost ready!

I have a release candidate ready, @BBassi would you like to test it? You will need to install the development version `itables_0.5.0` with
[code]
Also you will need to install separately the static files, which is documented at https://github.com/mwouts/itables/blob/offline_mode_always_use_import/docs/quick_start.md#offline-mode (@BBassi can you

[2022-06-17 15:10] AllanJard commented on #70
That's awesome - nice one! Nope - no sponsoring in the end.

[2022-06-17 15:23] mwouts commented on #75
Hi @drnw , sorry to hear that... I think it would help if we could see the browser logs, but I have no idea how to see the logs for Javascript content in VS Code. This [SO question](https://stackoverflow.com/questions/70768787/javascript-in-vscode-jupyter-notebook-not-showing-output) has no answer, does anyone know how to get more debug information in this context?

[2022-06-17 15:35] mwouts commented on #70
Thanks Allan! Indeed getting rid of the switch between `require` and `import` is a great milestone, and so is the option to use the static files. @BBassi let me know if it works for you, and also if you are still considering sponsorship for this issue.

[2022-06-20 13:32] mwouts commented on #70
@AllanJard, we are currently studying yet another option with @fwouts at #77 - we are considering to just inject the JS code in the notebook (=HTML file). I prefer this approach as the user will not need to install another Python package (but we still have to fix some issues probably related to the constraint that our scripts are injected in the HTML body, not head...)

When doing the above, we no

[2022-06-20 14:00] AllanJard commented on #70
I'm not sure that is going to be a "proper" change in DataTables. jQuery is somewhat unique in the AMD world in that is exports itself as a named module, and it looks like in an AMD environment it will also register to the browser's global scope. That rather goes against the modularisation that AMD tries to achieve.

[This is what DataTables](https://github.com/DataTables/DataTablesSrc/blob/master

[2022-06-20 14:09] AllanJard commented on #70
If a remote URL is acceptable (perhaps at build stage) perhaps something like: ?

[code]

[2022-06-20 15:14] mwouts commented on #70
Hi @AllanJard , thank you for the detailed answer !

Yes that is exactly the problem that I am facing. In some environments the notebook will have require.js, in some others it won't, and I have no choice on that (and I cannot generate the notebook accordingly - I need that the same notebook works in both cases).

Thanks also for the suggestion to use `requirejs.config`. That's actually what we do

[2022-06-20 15:36] AllanJard commented on #70
Sounds good to me!

I've just been reading about [Import maps](https://blog.bitsrc.io/using-es-modules-with-dynamic-imports-to-implement-micro-frontends-7c840a38890e) which would be the business for this I think. Chrome based browsers only for now though (is that an issue on Jupyter Notebooks - can they run Firefox?)

[2022-06-20 16:00] mwouts commented on #70
Very good, thanks Allan! Done at https://github.com/DataTables/DataTablesSrc/issues/213.

Oh I'm afraid that's still a long way to extensions then... Jupyter Notebooks are supposed to work in all browsers, and sometime in very exotic browsers like VS Code or PyCharm, so we might not be able to use import maps in all these environments for a while... That's a strong argument for going back to plain

[2022-06-20 16:02] AllanJard commented on #70
Its probably a strong argument to use a pre-processing bundler to generate a single <script> file that you load in.

[2022-06-22 10:51] mwouts opened #79 "Interactive tables fail to load when a notebook is reloaded in PyCharm"
When a notebook is reloaded in PyCharm, the interactive tables display "Loading ... (need help?)" but the tables never show up.
This affects `itables==1.0.0` (which introduces the offline mode).

Known workaround: call `init_notebook_mode` with `connected=True` to restore the connected mode which is not affected by this issue.

Please comment on this thread if you know how to
- Show browser logs i

[2022-06-22 12:00] mwouts commented on #8
Fixed with #77 and available in `itables=1.0.0`

[2022-06-22 12:00] #8 closed

[2022-06-22 12:12] mwouts commented on #70
This is not something that I am familiar with, but apparently my brother is, so maybe indeed we will see that at a later stage. But I guess this is for the vanilla JS version of datatables.net, so maybe we will have to fix https://github.com/DataTables/DataTablesSrc/issues/213 first?

Regarding this issue I am super happy to let you know that we have integrated #77 and that `itables=1.0.0` is avai

[2022-06-22 12:17] mwouts commented on #54
Hi @djangoliv , I am going to close this issue because the `init_notebook_mode` function changed significantly in `itables==1.0.0`.

In particular it now has outputs, and we need these outputs in the notebook, so I am afraid the solution that you considered here would only work for `init_notebook_mode(connected=True)` while the default is now `init_notebook_mode(connected=False)`.

Anyway let me t

[2022-06-22 12:17] #54 closed

[2022-06-22 12:20] mwouts commented on #59
Is the issue still present with `itables==1.0.0` (which uses `datatables.net==1.12.1`)?

In my [example notebook](https://colab.research.google.com/drive/1JPZIasTiH3rIUysDr3eWDz4jgTTq00aq?usp=sharing) I see this:
![image](https://user-images.githubusercontent.com/29915202/175027231-423dccdc-c3cd-4212-9f52-18f7b4ebb6e1.png)

[2022-06-22 12:23] mwouts commented on #75
Hi @drnw , we have just published `itables==1.0.0` which introduces an offline mode - now you don't need to be online any more to see the interactive tables.

Would you mind to upgrade `itables` and let us know whether the new offline mode works better?

Note that the offline mode is the default, so you don't need to change anything in your notebooks, you just need to restart the kernel and re-run

[2022-06-22 12:48] mwouts opened #80 "Interactive tables don't work in notebooks executed with "jupytext --execute""
For instance, if I run
[code]
on [this document](https://github.com/mwouts/itables/blob/main/docs/advanced_parameters.md), and then open the resulting `.ipynb` file, no interactive table is displayed.

If I open and re-execute the notebook in another editor (here VS Code), the interactive tables works.
The diff between the version generated by `jupytext --execute` and VS Code is limited to the out

[2022-06-22 13:03] mwouts commented on #80
The long string seems to be VS Code's way to store Javascript outputs. The list of strings is compliant with Jupyter Lab's export, so maybe the failing display of notebooks executed with either jupytext or nbconvert in VS Code is due to a non-standard handling of outputs in VS Code.

Now, when I open a notebook executed with Jupytext or NBconvert (same outcome) in Jupyter Lab, the outputs for the

[2022-06-22 13:03] #80 closed

[2022-06-22 13:45] drnw commented on #75
@mwouts above you said

So my first try (which worked) was not to call `init_notebook_mode`. Please clarify if you can.

[2022-06-22 14:32] mwouts commented on #75
Oh I see... Well I would expect users to call `init_notebook_mode` at the top of their notebook (cf. the [documentation](https://mwouts.github.io/itables)).
That function now has an argument `connected` that defaults to `False` (except in Google Colab), so calling that function will activate the offline mode in VS Code.

If you don't call `init_notebook_mode` (or if you call it with `connected=Tru

[2022-06-22 17:41] vttrifonov commented on #69
Just to add a bit weight in favor of doing this. In R DT the column filter feature is functional and very useful.

[2022-06-23 11:18] mwouts commented on #59
Thank you @vttrifonov for the feedback. Currently the CSS used is datatables.net's default theme, which already seems to have improved (probably the improvement comes from the switch from version 1.11.5 to 1.12.1).

Do you think you could propose your [own datatables theme](https://datatables.net/manual/styling/theme-creator)? If you do so I'd be happy to propose customisable themes in `itables`.

[2022-06-23 11:41] mwouts commented on #69
Yes, I agree, generally speaking the DT package by RStudio is much more advanced than `itables` that is a simple wrapper.

I've looked at `columnFilters` and `columnFilterRow` in [datatables.R](https://github.com/rstudio/DT/blob/main/R/datatables.R) and they are pretty long, I don't this I could maintain a code addition that long.

Nevertheless, I do like the example quoted by @shewless (https://d

[2022-06-23 15:34] mwouts commented on #69
Indeed it looks like that we can do something. With the commit above I have been able to show column filters like this:
![image](https://user-images.githubusercontent.com/29915202/175337006-4d6b4f40-ce7c-4120-a046-1447c71b6171.png)

This involves much less code than in the R DT library, but I'm starting to understand why... The search box will only work as a text search, while the R DT column sear

[2022-06-23 20:13] mwouts commented on #69
The new option `column_filters` is available in `itables==1.1.0` and the updated documentation should soon appear at https://mwouts.github.io/itables/advanced_parameters.html

[2022-06-23 20:22] #75 closed

[2022-06-23 20:58] mwouts commented on #69
Oh sorry some files did not make it to the pip package... This should be fixed with #82 in `itables==1.1.1`.

[2022-06-23 21:25] #69 closed

[2022-06-23 23:01] mwouts commented on #70
@fwouts and @AllanJard thank you again for your lovely help here... Thanks to the more uniform loading of the JS libraries (and a much shorter template file), I've been able to proceed with other little developments like the column filters (#81), and now I am even seeing some partial success with datatables plugins (#83)!

[2022-06-30 11:43] ofir-reich opened #84 "Support downsampling only rows, not columns?"
I find that downsampling rows makes a lot of sense, while downsampling columns almost always makes me rerun the line and downsample myself.
Is there a way to support this natively? I would argue that the default should be to downsample only rows and not columns, but even if it's not - it would be great if it's configurable somehow, so that I can make that be the behavior.

Thanks!

[2022-06-30 21:06] mwouts commented on #84
For instance, the example in the docs, which was downsampled 500x7 to 250x3:
![image](https://user-images.githubusercontent.com/29915202/176778159-b58dac65-6d30-4a69-b686-5577383527eb.png)

Is now downsampled 500x7 to 178x7:
![image](https://user-images.githubusercontent.com/29915202/176778270-57247802-e92b-4f23-9bc5-d5b4aa62a560.png)

[2022-07-02 21:14] #84 closed

[2022-07-02 21:17] mwouts commented on #84
Hi @ofir-reich , I think this is a good addition to the library, so I have integrated the PR and the new downsampling approach will  be available in `itables==1.1.2`.

[2022-07-03 11:44] ofir-reich commented on #84
Wow, thanks! Didn't even get a chance to test it!

[2022-08-02 01:00] iainmwallace opened #86 "Feature request - support for shiny"
Hi,

I was wondering if you had considered supporting use of your package within shiny apps - https://shiny.rstudio.com/py/. It would be a great contribution to the ecosystem :)

The R DT package is widely used in R/Shiny apps in part due to the excellent documentation - https://rstudio.github.io/DT/shiny.html

Thanks

Iain

[2022-08-03 06:18] AdamRJensen opened #87 "Add documentation link to GitHub About"
I would like to propose that the URL to the documentation be added to the about section on GitHub (see example below). This is done for Numpy, Pandas, etc. and how I think a lot of people navigate their way to the documentation.

![image](https://user-images.githubusercontent.com/39184289/182537408-9c368d5d-b805-411e-8189-01bb3712ef0a.png)

[2022-08-04 08:24] adrienpacifico opened #88 "Export itables rendering"
Hi,
Is it possible to export itables rendering to an html file?
If so, how?

The main application for me would be to integrate it in Reveal.js presentations.

[2022-08-08 20:46] mwouts commented on #88
Hi Adrien, yes you should be able to export your notebook to an html file (with e.g. `jupyter nbconvert --to html`), and the interactive table will be preserved.

I have not tested the integration with reveal.js but I'd be curious to know if it does work as well. In case it does not work, would you mind sharing a minimal reveal.js notebook with a simple interactive table?

[2022-08-08 20:51] mwouts commented on #87
Thank you @AdamRJensen, yes that's a great idea - I've just added a link to https://mwouts.github.io/itables/ . Thank you for proposing this!

[2022-08-08 21:28] #87 closed

[2022-08-08 21:49] mwouts commented on #86
Hi @iainmwallace , thanks for suggesting this. I think it should be doable to make `itables` work in the context of a Shiny app.

Some developments would be required on our end because `py-shiny` does not seem to be directly compatible with the `display` function of `IPython`. At the current stage of development of `py-shiny`, the `render.table` decorator calls explicitely `df.to_html`
https://git

[2022-08-09 07:02] adrienpacifico commented on #88
Hi Marc,
 Thank you for your answer!
 What I would have liked is to export only the table such that I can include it in an iframe or something like it.
 Finding the html section from an nbconvert export would be tedious (open the hml file, find the corresponding portion of code in a possibly long file, copy-paste the corresponding code, etc).
What I was seeking was something like df.itable_to_html

[2022-08-09 08:50] mwouts commented on #88
Oh, I see.

Then you're looking for [`itables.javascript._datatables_repr_`](https://github.com/mwouts/itables/blob/ec388a71f574fa8e1f3cc59108f8a0df1375a077/itables/javascript.py#L220). See for instance how the `show` function calls it:
https://github.com/mwouts/itables/blob/ec388a71f574fa8e1f3cc59108f8a0df1375a077/itables/javascript.py#L336-L339

[2022-08-11 00:00] mwouts commented on #86
I have been able to display a dataframe as an interactive datatable in a Shiny app with just `ui.HTML(DT(df))`, where `DT` is defined as
[code]

See [this comment](https://github.com/rstudio/py-shiny/issues/303#issuecomment-1211415754) for the full example (I am not sure at the moment if this is a sound approach!)

[2022-08-11 07:21] mwouts commented on #88
FYI the same question appeared in the context of Python Shiny apps at #86

[2022-08-11 16:02] iainmwallace commented on #86
Fantastic, thanks @mwouts. The examples you posted on the other issue are really useful.

[2022-08-14 20:25] JanPalasek opened #91 "jQuery import"
Hi,

I try to integrate your awesome package into [Pretty Jupyter](https://github.com/JanPalasek/pretty-jupyter). I noticed that `itables` loads the jQuery without a possibility to overload this settings. This is a bit problematic for me because in the exported HTML file I use another jQuery, which is overwritten by this import. I hotfixed it with `jQuery.noConflict()` for now, however a better so

[2022-08-14 20:59] mwouts commented on #91
Hi @JanPalasek , thanks for reporting this. Could you please confirm which version of `itables` you use, and also if you use the connected or the offline mode?

In the latest release (1.1.3), in the connected mode (the default), we import jQuery in a script with type "module", cf. this code:
https://github.com/mwouts/itables/blob/30f2079e9d3df9f02143bc65247a21b382359504/itables/html/datatables_tem

[2022-08-14 21:34] JanPalasek commented on #91
Hello, thank you for such a quick answer. I also use jQuery==3.6.0.
It throws errors both with connected=True and False.
Here's the page it fails on.

[Playground.zip](https://github.com/mwouts/itables/files/9334141/Playground.zip)

This code on proper place fixes the issue (before the big <script> at the bototm). It just verifies that itables was used somewhere (and hence jquery was imported) and

[2022-08-14 21:56] JanPalasek commented on #91
I use last released version of itables, 1.1.3.

[2022-08-14 22:04] mwouts commented on #91
Hi @JanPalasek , oh that's interesting. I would be happy to take a PR that implements this, especially as it seems that you're almost done with the connected mode.

How do you think we could do this for the offline mode? In that mode, jQuery is loaded at this line:
https://github.com/mwouts/itables/blob/30f2079e9d3df9f02143bc65247a21b382359504/itables/javascript.py#L80

[2022-08-14 22:22] #86 closed

[2022-08-14 22:22] #88 closed

[2022-08-14 22:25] mwouts commented on #86
Up-to-date tested examples are available at https://github.com/mwouts/itables/tree/main/tests/sample_python_apps

[2022-08-14 22:28] mwouts commented on #88
In the latest release of `itables==1.2.0`, this is available with:
[code]

[2022-08-15 06:46] joseberlines opened #93 "Documentation: readme"
I suggest to add a couple of screenshots to the readme of the github page.
A pic is often worth a million words.

[2022-08-15 10:51] mwouts commented on #93
Hi @joseberlines , yes sure that's a good idea. I have prepared this update:
https://github.com/mwouts/itables/tree/screenshots_in_readme

Do you think that's helpful / would you have added more screenshots?

[2022-08-15 11:26] joseberlines commented on #93
Give some time to look at that and I will report back

[2022-08-15 18:33] JanPalasek commented on #91
Yes, I hope so. But both needs to be tested. It’s just my (un)educated guess. I’m no JS dev.

It will probably take a while before I get to the PR.

[2022-08-17 05:34] joseberlines commented on #93
Give some time to look at that and I will report back

[2022-08-17 07:32] #93 closed

[2022-08-17 07:33] mwouts commented on #93
I have merged the PR. Thank you @joseberlines for suggesting this!

[2022-08-26 15:24] joseberlines opened #95 "Editable table in the future?"
Is there any intention to make the table editable? Not only displaying and filtering data but editing cells and add or modify content of cells.

[2022-08-27 08:33] mwouts commented on #95
Hi @joseberlines , personnally I don't have plans to make interative tables editables.

Two remarks on this:
1. https://datatables.net offers a (non free) plugin for making tables editables, which is https://editor.datatables.net/, but last time I looked at this I think I saw that [DT](https://github.com/rstudio/DT) uses another approach (i.e. sounds like they have coded the editor themselves).
2.

[2022-08-27 08:56] joseberlines commented on #95
I can't not comment on the dificulties of implementing such an editable table. I can only say that there is still the need in the jupyter lab community to have an easy to used editable and readable table. There are indeed several possibilities (ipydatagrid, ipyvuetify (on top of vue), mito (pay version) etc but none so far offers an easy to use editable table. I ammjust saying this, as info, don't

[2022-08-27 09:10] mwouts commented on #95
Yes, thank @joseberlines , sure I agree! I just quote the above if someone would like to consider addressing this issue.

[2022-08-31 11:22] fwouts opened #96 "Publish itables on conda"
I'd like to use itables but I use Anaconda to manage Python packages. It would be a big help if I could use it there!

[2022-09-01 07:31] beebeed opened #97 "Numeric > search"
Hi @joseberlines,

Great work, simple and effective!

I have two requests (happy to work on them)…
1) I was wondering if it would be possible/easy to implement regex search for numeric? It “great than x”, “less than y” etc?

2) is it possible to color each cell as a function of it values heat map to highlight extremes.

Thanks again for all your work.

[2022-09-02 10:53] DorianCzichotzki opened #98 "TypeError when using nullable pandas types in DataFrame"
Itables fails to display DataFrames that use nullable pandas types like `Int64`.

**To Reproduce**

Running the following code results in the TypeError.

[code]
[code]

Maybe the issue is in `_formatted_values`. Nullable strings are handled there by calling`astype('str')`on them. I can try to open a PR but am not sure what the best way to represent `pd.NA` values is (`None`, `"<NA>"` like for stri

[2022-09-02 15:29] mwouts commented on #98
Hi @DorianCzichotzki , thank you for opening this issue, that's an interesting question! And yes it would be great to add support for these nullable types!

I do not know at the moment what is the best way to represent these `NA` values, but a few trial and errors are likely to tell us. I would first try a float `NaN`, and then `None` if the `NaN` does not work. We need to pass through the JSON en

[2022-09-02 15:42] mwouts commented on #97
Hi @beebeed , thank you for your comments & questions!

Yes you can do this, although you need to do that in Javascript. See for instance this [example](https://mwouts.github.io/itables/advanced_parameters.html#advanced-cell-formatting-with-js-callbacks)

Numeric values are represented as such when passed to https://datatables.net, so you won't be able to use a regex search. I think it should be d

[2022-09-03 21:20] mwouts opened #99 "Preserve the order of rows"
The default value for the `order` parameter of https://datatables.net is [`[[0, 'asc']]`](https://datatables.net/reference/option/order).

Because of this, the orders of rows of pandas dataframes is often not preserved.

It would be more convenient to have, by default
- `order` equal to the index columns when the dataframe has an index, when the index is displayed, and the index is sorted,
-  and

[2022-09-03 21:21] mwouts commented on #99
BTW, I'd like to thank @vindevoy for attracting my attention to this issue.

[2022-09-03 22:26] #99 closed

[2022-09-03 23:02] #98 closed

[2022-09-03 23:29] mwouts commented on #96
Hi @fwouts , I just opened a [PR](https://github.com/conda-forge/staged-recipes/pull/20303) to publish `itables` on `conda-forge`, but... it's already there!

The repo where the recipe is maintained is https://github.com/conda-forge/itables-feedstock, and it has been maintained by @asford since Jan 2022 (thank you Alex!)

This means that you can get `itables` by simply typing
[code]
or even
[code]

[2022-09-03 23:36] mwouts commented on #98
Hi @DorianCzichotzki , I have added support and tests for nullable bool and int (I've just had to replace `pd.NA` with `None` before exporting the data to JSON) in `itables==1.3.0`.

Missing values are represented by an empty cell, see for instance the [sample dataframes](https://mwouts.github.io/itables/sample_dataframes.html) in the documentation.

Thanks for reporting the issue!

[2022-09-06 08:54] #96 closed

[2022-09-26 19:15] Anselmoo opened #103 "[Feature] Dark Mode support for itables"
Thx for `itables`

In the case of using `itables` with dark themes, like __VSCode__ + __Dracula__, it is rather difficult to see the buttons.

<img width="1364" alt="image" src="https://user-images.githubusercontent.com/13209783/192360783-622600f9-ac79-4fb8-b7a4-0591818856a7.png">

I am wondering if there is a way to change the buttons and text to _white_ for example?

[2022-10-07 22:19] matinnuhamunada opened #104 "Customize font size"
Hi, thanks for developing this awesome tool :)

I tried to go through the documentation but am unable to find clues on how to customize font sizes.
Is that something that can be done via `itables.options`?

[2022-10-13 15:51] jklap commented on #55
I'm confused -- why wouldn't someone just use ipyaggrid?

I don't know that adding support for AgGrid to this project would be the best approach -- seems like you'd end up splitting your time and either only adding functionality to the lowest common denominator or end up with disjointed functionality when one table supports something the other doesn't? And you'd have to become an expert in both to

[2022-10-30 22:49] mwouts commented on #104
Hi @matinnuhamunada , sorry for not being able to answer before.

According to [this thread](https://datatables.net/forums/discussion/66743/change-text-size-in-datatable) you will have to change the CSS for this.

This is not something that is currently possible in `itables`.

Still, if you have a minute to make an experiment, I would suggest that you try to modify the content of [`itables/html/st

[2022-11-01 22:53] mwouts commented on #104
Hi @matinnuhamunada , well actually it is super easy to move the CSS to `itables.options`, so I have prepared a new version in the PR above.

However I am not 100% sure it works as expected... At least when I compile the documentation, the font size that I intended to change just for one table actually changed for all the tables on the page...
![image](https://user-images.githubusercontent.com/299

[2022-11-02 23:47] sjdemartini opened #107 "itables causes FutureWarning for using deprecated pandas syntax in pandas 1.5"
When using itables with pandas 1.5 for certain types of data in dataframes, it emits a `FutureWarning` due to using now-deprecated `.iloc[]` operations (https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.5.0.html#inplace-operation-when-setting-values-with-loc-and-iloc).

Example reproduction:
[code]

results in:

  formatted_df.iloc[:, j] = np.array(fmt.format_array(x.values, None))

---

Re

[2022-11-05 19:50] mwouts commented on #107
Hey @sjdemartini , thanks for reporting this! I will have a look soon.

[2022-11-05 19:51] #104 closed

[2022-11-05 19:57] mwouts commented on #104
I have released a new version that has the `css` argument in `show` (Version 1.3.1). The CSS should be the same for all the tables in a given notebook so you probably want to change `opt.css` directly. By the way, please let me know if you see changes that we should make on the default CSS!

[2022-11-06 01:21] mwouts commented on #107
This should be fixed in `itables==1.3.2`. Please give it a try and confirm that everything looks right! Thanks

[2022-11-06 14:17] mwouts opened #110 "ScrollX = True causes unaligned header in some cases"
Tables with few columns are not properly rendered on Jupyter Book, cf. this example:
https://mwouts.github.io/itables/sample_dataframes.html#bool

![image](https://user-images.githubusercontent.com/29915202/200175829-d618f140-d8a4-45bd-a4d9-4e1027d66b1e.png)

Also, scrolling in X does not scroll the header (unless we set `FixedHeader=False` and maybe also `FixedColumns=False`)

[2022-11-07 23:31] #107 closed

[2022-11-08 16:32] sjdemartini commented on #107
Awesome, thank you for the super fast turnaround! Confirmed that this is fixed for me (using 1.3.4) 👍

[2022-11-10 23:33] mwouts opened #112 "Object of type NaTType is not JSON serializable"
Pandas dataframes that contain `pd.NaT` cannot be displayed.

[2022-11-10 23:35] mwouts opened #113 "Displaying large tables takes too long"
This is probably because the memory used by the table is computed using `df.values.nbytes`, which empirically seems to take a much longer time than `sum(df[col].values.nbytes for col in df.columns)`.

[2022-11-10 23:37] mwouts opened #114 "Could we move the downsampling warning to the table itself?"
Maybe the information that the table was downsampled could go to the table itself (and maybe replace the line "Showing 1 of 10 of 57 entries").

[2022-11-10 23:38] mwouts opened #115 "itables does not work under Python 2"

[2022-11-11 00:48] #115 closed

[2022-11-11 01:18] #112 closed

[2022-11-12 10:37] mwouts commented on #113
The new version is significantly faster: 3.45 **milliseconds** vs 1.38 seconds
![image](https://user-images.githubusercontent.com/29915202/201470261-6876c279-0d33-4d76-bbc5-fba559f81a35.png)

[2022-11-12 12:33] #113 closed

[2022-11-12 12:33] #114 closed

[2022-11-12 12:38] mwouts commented on #107
You're welcome! Thank you also for reporting this.

Also I wanted to mention the 'fix' above did introduce a few regressions (#112 for instance). These regressions were fixed in `itables==1.3.5`, which by the way has much better support for large tables.

[2022-11-12 17:16] mwouts commented on #103
Hello @Anselmoo , well thank you also for using it!

I have done a little experiment: I have [remove the colors #333 and #666](https://github.com/mwouts/itables/commit/fd04188bf954c275e0c242b061c0832c212d3627) from my local `itables/external/jquery.dataTables.min.css` and that seems to help, at least this is what I get (in Jupyter Lab):
![image](https://user-images.githubusercontent.com/29915202/2

[2022-11-12 19:44] AllanJard commented on #103
It's actually done already in the just released 1.13 (which by the way has full ES module support for the core and all extensions now 🙂).

[2022-11-12 20:09] Anselmoo commented on #103
@AllanJard Thank you very much!

Is it already usable via `config-file`?

[2022-11-12 20:23] mwouts commented on #103
Well done @AllanJard ! Well indeed I saw the new release and I am excited to use it and to provide the buttons (I found the discussion at https://datatables.net/forums/discussion/74578 very helpful), but I still need to figure out how to do the import from the cdn. This is what I tried:
[code]
but at the moment I get this error:
[code]
Do you have any idea on how to fix this? Many thanks!

[2022-11-12 22:14] AllanJard commented on #103
Yes, jQuery don't yet provide an ES module. You need to load it through a service such as [esm.sh](//esm.sh). E.g. https://esm.sh/jquery@3.5.0

[2022-11-12 22:17] AllanJard commented on #103
Actually, thinking about it a bit more, you'll might need to use an import map, [as discussed here](https://datatables.net/blog/2022-11-10-esm#Modules-in-the-browser).

[2022-11-13 13:50] mwouts opened #121 "ITables 2.0 - update datatables.net to 1.13.1 and provide support for buttons"
@AllanJard has released a new version of `datatables.net==1.13.1` that provides support for the datables plugins in the ESM format.

I will report here on the progress on transitioning `itables` to that new release of `datatables.net`.

[2022-11-13 13:51] mwouts commented on #103
Thank you @AllanJard , indeed the suggestion to use the import maps does work. I will report with more details on the process of upgrading DT in `itables` at https://github.com/mwouts/itables/issues/121.

[2022-11-13 13:56] mwouts commented on #121
My first experiment has been to modify the connected template like this:
[code]

The template (saved to an html file) does work, but only in very recent versions of the browsers: https://caniuse.com/import-maps

Concretely that means that the latest Firefox on the latest Ubuntu is currently not supported. I am OK with that but that means that I will have to maintain the branch 1.x and 2.x for some

[2022-11-13 22:07] mwouts commented on #121
I have been able to port the non-connected template as well, in this [commit](https://github.com/mwouts/itables/commit/023fe4a370319d2fcd4327ff7feb205f3cfb3499).

I have seen the new version work in
- Jupyter Lab, with Chrome
- Google Colab, with Chrome

Unfortunately it seems that no other environment is adapted to the import maps (VS Code, PyCharm and Jupyter Notebook do not seem to support that

[2022-11-13 22:14] mwouts commented on #103
@AllanJard I confirm that the dark mode works much better with `datatables-1.13.1`.

Below is a screenshot of my [colab notebook](https://colab.research.google.com/drive/1JPZIasTiH3rIUysDr3eWDz4jgTTq00aq?usp=sharing#scrollTo=b1SjmPGa8DVw):

Maybe we should still fix the black color for the number of entries drop down and the text in the search box?

![image](https://user-images.githubusercontent.c

[2022-11-13 22:15] mwouts commented on #59
I'll close this issue as we are making progress on a similar issue #103 - please follow progresses there.

[2022-11-13 22:15] #59 closed

[2022-11-13 22:21] mwouts commented on #55
Hey @jklap , yes I agree, now providing support for ag-grid is completely off my radar, so I'll close this issue.

Thanks. Yes I agree! By the way you should give a try to `itables==1.3.5` which has a much nicer display of wide tables (sorry it took me so long to figure out how to fix the column sizing!), and is also much faster at doing the downsampling of large tables.

Yes that is coming... For

[2022-11-13 22:21] #55 closed

[2022-11-13 22:53] mwouts commented on #50
The latest [release](https://datatables.net/blog/2022-11-10-esm#Modules-in-the-browser) of `datatables.net==1.13.1` will let us load the buttons using ESM imports.

One example is given at https://datatables.net/forums/discussion/74578 and looks like this:
[code]

In the context of Jupyter we need to load all these libraries from a CDN. That means that we will have to find out how to write the imp

[2022-11-14 10:41] AllanJard commented on #103
I don't think we set the colour for those pieces of text - so it would be the browser's default that is being applied. You can "Inspect" the element to check if that is the case. So in whatever dark mode CSS is being used, you'd need to add colour for the `input` and `select` elements.

If you can give me a link to an example showing the issue and I detail things a bit further.

[2022-11-14 10:45] AllanJard commented on #121
We have an `import jQuery from 'jquery';` in the DataTables ES module, which is what causes the difficulty here. Without an import map, the browser has no way to resolve that if the file is just imported directly. And we can't do a conditional import. One option would have been to have DataTables being able to be loaded on its own and then have a function like `DataTables.use(jQuery);` to make it

[2022-11-14 19:20] mwouts commented on #121
Hi @AllanJard , sorry if I sounded negative above, I think import maps are a great approach and I don't see any other way anyway to provide the buttons.

Yes I saw that, but again this is probably not going to support the extensions?

:smile: here we're going way further than what I can actually do in JS/HTML but maybe my brother will be able to follow :laughing:

[2022-11-14 19:21] mwouts commented on #103
Yes this is how I spotted the 333 and 666 colors

Can you access this? https://colab.research.google.com/drive/1JPZIasTiH3rIUysDr3eWDz4jgTTq00aq?usp=sharing#scrollTo=b1SjmPGa8DVw

[2022-11-15 09:25] AllanJard commented on #103
Kind of:

![image](https://user-images.githubusercontent.com/84905443/201881564-6b3944b0-0e9c-4de5-871f-459b5a97fd8d.png)

How do I view the output? I can't see an obvious way to do that (I've not actually used colab before).

[2022-11-15 09:29] Anselmoo commented on #103
In this particular case you have to press the ✏️-button. Then it will show 🆙.

[2022-11-15 09:36] AllanJard commented on #103
Oh! Thanks!

Then I see a table, which appears to be a Google visualisation table. How do I get to the point where I can see the issue with DataTables and the input elements?

[2022-11-15 10:05] mwouts commented on #103
Hey @AllanJard , if the output looks like this:
![image](https://user-images.githubusercontent.com/29915202/201890403-db69ddab-7fda-404f-a6d7-68138e2c0f97.png)
then it might mean that your browser does not support import maps :smile:

The screenshot in the previous comment, in which the table does appear after "df", was taken with Chrome.

Also if you don't see any table at all you can do "Runtime

[2022-11-15 10:25] AllanJard commented on #103
rotfl. Oh dear... Yes, I was using Firefox without import map support. Doh!

I've fired up Chromium and it actually appears to work okay for me there:

![image](https://user-images.githubusercontent.com/84905443/201895868-2785992e-7c79-451b-880c-931f3735321a.png)

[2022-11-15 20:53] mwouts commented on #103
Well now I do see the white color for the text in the search box... But in the drop down box on the left my text is in black, unlike your:
![image](https://user-images.githubusercontent.com/29915202/202023021-66f22bb6-dd21-4127-8bff-39832e73a1aa.png)

Anyway I think this is already a great improvement with respect to version 1.12.1, so unless you advice against this I think I might try to ship the

[2022-11-15 21:04] mwouts commented on #103
@Anselmoo I have prepared a development version with the new CSS.

Would you like to give it a try? You can install it with
[code]

[2022-11-16 06:44] Anselmoo commented on #103
Looks like the _dark mode_ not work for `Show` and `Search`; the rest is fine!

But it already helps a lot

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/13209783/202104355-8179615b-2ebb-41b4-8203-ddc2e2b225f9.png">

[2022-11-16 08:49] AllanJard commented on #103
You could possibly add something like:

[code]

which should resolve that issue.

[2022-11-17 07:37] mwouts commented on #103
Thank you Allan. I will give it a try possibly tonight.  @Anselmoo if you happen to know some CSS you could also experiment following https://mwouts.github.io/itables/custom_css.html - I already did a preliminary attempt in the colab notebook (link above) but we need to do a bit more research apparently...

[2022-11-17 19:17] Anselmoo commented on #103
@mwouts , I will give it a try tomorrow; however, I am not a mega CSS expert. Let's see how far I get ...

[2022-11-18 19:34] mwouts commented on #103
That sounds great! On my side I have been more busy than expected and I won't have any time this week-end, so we will sync up next week. By the way if you prefer to experiment directly with HTML the following might help:
[code]
It returns something like
[code]
which you can save in an `.html` file.

[2022-11-20 06:36] Anselmoo opened #123 "Check if `requests` is installed?"
If `requests` is not pre-installed, the native installation (`pip install .`) can cause some trouble.

https://github.com/mwouts/itables/blob/d12e364690afb788947890080fa380af92eb3c4d/setup.py#L6

It might be a good idea to catch that via `try`-`except`?

## Solution 1:

[code]

## Solution 2:

[code]

[2022-11-20 07:25] Anselmoo opened #124 "Pre-commit dependency `flake8`"
The `gitlab` dependency requires for `flake8` requires an account.

https://github.com/mwouts/itables/blob/d12e364690afb788947890080fa380af92eb3c4d/.pre-commit-config.yaml#L14-L17

More convenient would be:

[code]

[2022-11-20 21:15] Anselmoo commented on #103
@mwouts sorry for late reply

Concerning your #122, it actually looks very fine now. I have tested it for several dark themes:

* https://github.com/dracula/visual-studio-code
   <img width="1210" alt="image" src="https://user-images.githubusercontent.com/13209783/202926488-cbb1e1ee-1a29-485d-be3b-bd2d0f84f463.png">
* https://github.com/primer/github-vscode-theme
   <img width="1204" alt="image" s

[2022-11-21 09:37] mwouts commented on #123
Hey @Anselmoo , maybe we could use a build requirement like documented here: https://setuptools.pypa.io/en/latest/userguide/dependency_management.html#build-system-requirement ? As `requests` is only used when the package is built... What do you think?

[2022-11-21 18:17] Anselmoo commented on #123
That's an excellent idea!

However, [pyproject.toml](https://pip.pypa.io/en/stable/reference/build-system/pyproject-toml/) should also be considered used as a replacement for `setup.py` in the long term.

[2022-11-21 18:36] Anselmoo commented on #123
@mwouts looks like it works, however I have to also fix the `flake8` issue #124

[2022-11-21 22:52] #123 closed

[2022-11-21 23:21] mwouts commented on #103
Well... that is puzzling. I cannot reproduce that. I have tried, in a single cell:
[code]
And in each of VS Code, Jupyter Lab, and Colab I still have the black text in the select and search boxes... Do you see any difference with what you are doing above?

[2022-11-21 23:36] mwouts commented on #103
Sorry the issue was closed automatically as I have merged the branch in which we update the datatables CSS to version 1.13.1, but that was a bit early as I would like to reproduce myself the white text in the select and search boxes...

[2022-11-22 09:01] mwouts opened #130 "Index columns are not large enough"
The 'date' column in the example below is not large enough and its content does not appear in full:
[code]
![image](https://user-images.githubusercontent.com/29915202/203271043-9871e0c7-8c5b-4175-9d98-43dd67107e5a.png)

[2022-11-22 09:06] mwouts commented on #130
The corresponding HTML code is
[code]
which, displayed in Jupyter Lab with `IPython.display.HTML`, shows the same issue. However in a standard HTML file the table looks fine:
![image](https://user-images.githubusercontent.com/29915202/203272174-ef55802a-16a6-4966-88bc-3340a65bfd0c.png)

[2022-11-22 23:24] mwouts commented on #130
Apparently the problem is specific to Jupyter Lab and Jupyter Notebook, and does not appear in e.g. Colab or VS Code.

Adding `style="table-layout:auto"` seems to resolve the issue:
[code]

![image](https://user-images.githubusercontent.com/29915202/203441075-977a632e-c630-4807-95d8-a1dab7ce0802.png)

[2022-11-27 17:07] mwouts opened #134 "table display fails if one of the index names is already present in the columns"

[2022-11-27 17:08] mwouts opened #135 "Categorical index are sorted in the alphabetical order"
Should be the categories order instead

[2022-11-27 22:14] #130 closed

[2022-11-27 22:57] #134 closed

[2022-11-30 23:27] #135 closed